client:
  id: "${CLIENT_ID}"
  crt: "${CLIENT_CERTIFICATES}"
  key: "${CLIENT_PRIVATE_KEY}"

express:
  port: 7000

db:
  source: ":memory:"

ar:
  id: "${CLIENT_ID}"
  token: "${SERVER_ENDPOINT}:3000/oauth2/token"
  policy: "${SERVER_ENDPOINT}:3000/ar/upsert-policy"
  delegation: "${SERVER_ENDPOINT}:3000/ar/delegation"
  rejectUnauthorized: false
